

*{
    margin: 0px; padding: 0px; font-family: 'Josefin Sans', sans-serif;
}

.firt-slide{
    background-image: url("../image/francesco-ungaro-V6TWE6h8gyg-unsplash.jpg");
    opacity: 0.7;
    width:100%;
    height: 400px;
    background-size: 100% 100%;
} 
.second-slide{
    background-image: url("../image/marian-kroell-A-5aEufc0j4-unsplash.jpg");
    opacity: 0.6;
    width:100%;
    height: 400px;
    background-size: 100% 100%;
} 
.third-slide{
    background-image: url("../image/jake-weirick-FVURMqyVIoU-unsplash.jpg");
    opacity: 0.7;
    width:100%;
    height: 400px;
     background-size: 100% 100%;
}

.hello{
    width: 60%;
    height: 250px;
    padding-top: 30px;
    padding-left: 15px;

}
.para p{
    text-align: center;
    padding-top: 50px;
    color: bisque
}
.pic{
    width: 100%;
    height: 350px;
}
